###  The image below is my work flow for this week's HW. I will also show and explain each step as following. 

![](https://drive.google.com/uc?export=view&id=1WiKd5Ws3R74l8kjDTVzKmHluro_gApwy)

Note:<br>
The first 5 step would be used to generate the second table of the result from https://ttc.scu.org.tw/memdca1.htm, and the sixth step would be used to generate the first table. (As the image below shows. If you can't see the image, please refresh again.)

![](https://drive.google.com/uc?export=view&id=18OMAzdyYj4X5tPC7F3lU4xSQCVYeqTUD)

### Step 1:  (Build the second table)
 Ask users to input their mortgage, year to return, and interest rate respectively.

In [ ]:
print("How much money you have to return?")
m = int(input())
print("How many years you have to return all the money?")
y = int(input())
print("What is the interest rate per year? (give the number only)")
r = float(input())/100

In [5]:
# assume the user input mortgage = 1000000, years to return = 10, and interest rate = 1%
m=1000000
y=10
r=1

### Step 2: 
 Create empty dataframe to store and demonstrate calculated data.

In [6]:
# produce row index for the dataframe
period = list(range(y*12))
period = [x+1 for x in period]
period = ['第'+ str(x) +'期' for x in period]
period

['第1期',
 '第2期',
 '第3期',
 '第4期',
 '第5期',
 '第6期',
 '第7期',
 '第8期',
 '第9期',
 '第10期',
 '第11期',
 '第12期',
 '第13期',
 '第14期',
 '第15期',
 '第16期',
 '第17期',
 '第18期',
 '第19期',
 '第20期',
 '第21期',
 '第22期',
 '第23期',
 '第24期',
 '第25期',
 '第26期',
 '第27期',
 '第28期',
 '第29期',
 '第30期',
 '第31期',
 '第32期',
 '第33期',
 '第34期',
 '第35期',
 '第36期',
 '第37期',
 '第38期',
 '第39期',
 '第40期',
 '第41期',
 '第42期',
 '第43期',
 '第44期',
 '第45期',
 '第46期',
 '第47期',
 '第48期',
 '第49期',
 '第50期',
 '第51期',
 '第52期',
 '第53期',
 '第54期',
 '第55期',
 '第56期',
 '第57期',
 '第58期',
 '第59期',
 '第60期',
 '第61期',
 '第62期',
 '第63期',
 '第64期',
 '第65期',
 '第66期',
 '第67期',
 '第68期',
 '第69期',
 '第70期',
 '第71期',
 '第72期',
 '第73期',
 '第74期',
 '第75期',
 '第76期',
 '第77期',
 '第78期',
 '第79期',
 '第80期',
 '第81期',
 '第82期',
 '第83期',
 '第84期',
 '第85期',
 '第86期',
 '第87期',
 '第88期',
 '第89期',
 '第90期',
 '第91期',
 '第92期',
 '第93期',
 '第94期',
 '第95期',
 '第96期',
 '第97期',
 '第98期',
 '第99期',
 '第100期',
 '第101期',
 '第102期',
 '第103期',
 '第104期',
 '第105期',
 '第106期',
 '第107期',
 '第108期',
 '第109期',
 '第110期',
 '第111期',
 '第112期',
 '第113期',
 '第114期',
 '第115期',
 '第116期',
 '第117期',
 '第118期',
 '第119期',
 '第120期']

In [7]:
# produce column name for the dataframe
col = ['本 金(元)', '利 息(元)', '本金利息累計(元)']

In [9]:
import pandas as pd
df2 = pd.DataFrame(index=period, columns=col)
df2 = df2.fillna(0) # with 0s rather than NaNs
df2

       本 金(元)  利 息(元)  本金利息累計(元)
第1期         0       0          0
第2期         0       0          0
第3期         0       0          0
第4期         0       0          0
第5期         0       0          0
...       ...     ...        ...
第116期       0       0          0
第117期       0       0          0
第118期       0       0          0
第119期       0       0          0
第120期       0       0          0

[120 rows x 3 columns]

### Step 3: 
 Calculate the principal needed to return in every period, and store in the first column of the dataframe.

In [10]:
# 將本金除以期數得到每期應還本金金額
import math
for i in list(range(y*12-1)):
    df2.iloc[i,0] = math.ceil(m/(12*y))

In [11]:
#計算最後一期剩餘要還的本金，存入表格當中的最後一列 (第120期)
df2.iloc[y*12-1,0] = m-sum(df2.iloc[:,0])
df2

       本 金(元)  利 息(元)  本金利息累計(元)
第1期      8334       0          0
第2期      8334       0          0
第3期      8334       0          0
第4期      8334       0          0
第5期      8334       0          0
...       ...     ...        ...
第116期    8334       0          0
第117期    8334       0          0
第118期    8334       0          0
第119期    8334       0          0
第120期    8254       0          0

[120 rows x 3 columns]

### Step 4: 
Calculate the interest needed to return in every period, and store in the second column of the dataframe.
<br>

Note:<br>
Before calculate the interest for every period, we have to calculate the remaining mortgage users haven't returned in every period.

In [12]:
# Calculate the remaining mortgage you haven't returned in every period.remaining = [m]*(y*12)
for i in list(range(y*12-1)):
    remaining[i+1] = remaining[i]-df2.iloc[i,0]

remaining

[1000000,
 991666,
 983332,
 974998,
 966664,
 958330,
 949996,
 941662,
 933328,
 924994,
 916660,
 908326,
 899992,
 891658,
 883324,
 874990,
 866656,
 858322,
 849988,
 841654,
 833320,
 824986,
 816652,
 808318,
 799984,
 791650,
 783316,
 774982,
 766648,
 758314,
 749980,
 741646,
 733312,
 724978,
 716644,
 708310,
 699976,
 691642,
 683308,
 674974,
 666640,
 658306,
 649972,
 641638,
 633304,
 624970,
 616636,
 608302,
 599968,
 591634,
 583300,
 574966,
 566632,
 558298,
 549964,
 541630,
 533296,
 524962,
 516628,
 508294,
 499960,
 491626,
 483292,
 474958,
 466624,
 458290,
 449956,
 441622,
 433288,
 424954,
 416620,
 408286,
 399952,
 391618,
 383284,
 374950,
 366616,
 358282,
 349948,
 341614,
 333280,
 324946,
 316612,
 308278,
 299944,
 291610,
 283276,
 274942,
 266608,
 258274,
 249940,
 241606,
 233272,
 224938,
 216604,
 208270,
 199936,
 191602,
 183268,
 174934,
 166600,
 158266,
 149932,
 141598,
 133264,
 124930,
 116596,
 108262,
 99928,
 91594,
 83260,
 74926,
 66592,
 58258,
 49924,
 41590,
 33256,
 24922,
 16588,
 8254]

In [13]:
# Calculate interest for every period
for i in list(range(y*12-1)):
    df2.iloc[i,1] = round(remaining[i]*(r/12),0)
    
#計算最後一期剩餘要還的利息，存入表格當中的最後一欄
df2.iloc[y*12-1,1] = round(remaining[y*12-1]*(r/12),0)
df2

       本 金(元)  利 息(元)  本金利息累計(元)
第1期      8334   833.0          0
第2期      8334   826.0          0
第3期      8334   819.0          0
第4期      8334   812.0          0
第5期      8334   806.0          0
...       ...     ...        ...
第116期    8334    35.0          0
第117期    8334    28.0          0
第118期    8334    21.0          0
第119期    8334    14.0          0
第120期    8254     7.0          0

[120 rows x 3 columns]

### Step 5: 
 Calculate the accumulated return in every period, and store in the third column of the dataframe.

In [14]:
# create empty list
accumulate = [0]*(y*12)

In [15]:
# store total return of every period (Principal + Interest)
for i in list(range(y*12)):
    accumulate[i] = df2.iloc[i,0] + df2.iloc[i,1]

In [17]:
# add up the total return of each period from the first period and store into the dataframe
for i in list(range(1,y*12,1)):
    df2.iloc[i-1,2] = sum(accumulate[0:i])

df2.iloc[y*12-1,2] = df2.iloc[y*12-2,2]+accumulate[y*12-1]
df2

       本 金(元)  利 息(元)  本金利息累計(元)
第1期      8334   833.0     9167.0
第2期      8334   826.0    18327.0
第3期      8334   819.0    27480.0
第4期      8334   812.0    36626.0
第5期      8334   806.0    45766.0
...       ...     ...        ...
第116期    8334    35.0  1017087.0
第117期    8334    28.0  1025449.0
第118期    8334    21.0  1033804.0
第119期    8334    14.0  1042152.0
第120期    8254     7.0  1050413.0

[120 rows x 3 columns]

### Step 6: (Build the first table)
Create the parameter table to demonstrate users' inputs.

In [19]:
import pandas as pd
# Create empty dataframe to store data for the parameters user input
## (1) produce row index for the dataframe
row = ['本金', '期數(年)', '年利率', '平均每月攤還本金', '平均每月攤還利息', '全部利息']
    
## (2) Create the empty dataframe
df1 = pd.DataFrame(index=row, columns=['Parameter'])
df1 = df1.fillna(0)
df1.iloc[0] = m
df1.iloc[1] = y
df1.iloc[2] = r
df1.iloc[3] = math.ceil(m/(12*y))
df1.iloc[4] = '見參考下表'
df1.iloc[5] = df2.iloc[y*12-1,2]-m
df1

         Parameter
本金           1e+06
期數(年)           10
年利率           0.01
平均每月攤還本金      8334
平均每月攤還利息     見參考下表
全部利息         50413